importFrom("stats", "dist", "runif", "cov")
importFrom("parallel", "detectCores", "makeCluster", "parLapply", "stopCluster")
export(copent, entknn, construct_empirical_copula, ci, transent, mvnt, tst, cpd, mcpd)
